/etc/asterisk/backup/*.tar {
  daily
  dateext
  extension .tar
  compress
  rotate 360
  maxage 360
  create
  prerotate
    tar -cf /home/asterisk/backup/config.tar --exclude-tag-all=.skipbackup --exclude=*.swp --directory=/etc/asterisk/ .
#     find "/etc/asterisk" -maxdepth 1 -type f -name "*.conf" -printf "%f\n" | \
#     xargs tar -cf /etc/asterisk/backup/config.tar -C "/etc/asterisk"
  endscript
}
